html{
    background-color:rgb(247, 247, 247);
}
@media only screen and (min-width: 1200px) {
    body {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-left: 15%;
        margin-right: 15%;
        color: #eeeeee; 
    }
}


div#compare {
    display: none;
}

div#main:hover div#compare
{
    display: block;
}

html:first-child img
{
    margin-bottom: 1rem; 
    margin-top: 1rem;
}